body{
	background: url('assets/freedom.jpg') no-repeat center;
	width: 100vw;
	height: 100vh;
	background-size: cover;
	color: #333;
	text-align: center;
	position: relative;
}

.wrapper{
	width: 85%;
	margin: 0 auto;
	line-height: 1.5;
}

.quote{
	text-transform: uppercase;
	font-size: 2rem;
	padding-top: 5rem;
	font-family: 'Julius Sans One', sans-serif;
}

.author{
	font-size: 1.5rem;
	padding-top: 2.5rem;
	font-style: italic;
	font-family: 'Crimson Text', serif;
}

@media only screen and (max-width: 600px){
	.quote{
		font-size: 1.5rem;
	}
	.author{
		font-size: 1rem;
	}
}

@media only screen and (min-width: 1200px){
	.quote{
		padding-top: 8rem;
		font-size: 2.5rem;
	}
	.author{
		font-size: 2rem;
	}
}

footer{
	display: block;
	position: absolute;
	bottom: 2rem;
	width: 100%;
}

img{
	width: 3rem;
}
