body{
	background: url('assets/freedom.jpg') no-repeat center;
	width: 100vw;
	height: 100vh;
	background-size: cover;
	color: #333;
	text-align: center;
}

.wrapper{
	width: 85%;
	margin: 0 auto;
	line-height: 1.5;
}

.quote{
	text-transform: uppercase;
	font-size: 2rem;
	padding-top: 5rem;
	font-family: 'Julius Sans One', sans-serif;
}

.author{
	font-size: 1.5rem;
	padding-top: 2.5rem;
	font-style: italic;
	font-family: 'Crimson Text', serif;
}